.card {
	max-width: 50rem;
}

.card-img-top {
	object-fit: cover;
	max-height: 30em;
}

.card-title {
	font-size: xx-large !important;
}

.author-img {
	object-fit: cover;
	width: 50px;
	height: 50px;
}
